{:nrepl {:port 8777}

 :source-paths ["src/cljs", "src/test"]

 :dependencies
 [[reagent "1.0.0"]
  [re-frame "1.2.0"]

  [cider/cider-nrepl "0.26.0"]

  [binaryage/devtools "1.0.3"]]

 :dev-http
 {8280 "resources/public"
  8290 "target/browser-test"}

 :builds
 {:app
  {:target     :browser
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :modules
   {:app {:init-fn spacedmath.app/init}}
   :devtools
   {:preloads []}
   :dev
   {:compiler-options
    {:closure-defines
     {}}}}
  :test
  {:target    :browser-test
   :test-dir  "out/node-tests"
   :autorun   true
   :devtools  {:http-port 8021 :http-root "out/node-tests"}}}}
