body {
  background: #fdf6e3;
  margin: 0px;
  width: 100%;
  font-size: 22px;
}

main {
  width: 100%;
  max-width: 1000px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
}

p {
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: auto;
  white-space: pre-line;
}

nav {
  min-width: 250px;
  font-size:16px;
}

header {
  background: #998a66;
  color: black;
}

header div {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.card {
  flex-grow: 1;
}

#logout, #login {
  outline: 3px solid black;
  border: 0px none;
  background: transparent;
  padding: 5px;
  margin-left: 10px;
  float: right;
  cursor: pointer;
}

.verified {
  border: 2px solid lightgreen;
  color: darkgreen;
  border-radius: 8px;
  padding: 10px;
}

.unverified {
  border: 2px solid red;
  color: darkred;
  border-radius: 8px;
  padding: 10px;
}
